<nav>
  <ul>
    <li><i class="fa-solid fa-leaf" style="color: #63E6BE;"></i>&nbsp;<strong>Spring Corp</strong></li>
  </ul>
  <ul>
    <li><a href="#" class="contrast">Books</a></li>

    <li><a href="#" class="contrast">About us</a></li>
    
    <li><input name="search" type="search" placeholder="Search" /></li>

    <li>
      <details class="dropdown">
        <summary>
          Account
        </summary>
        <ul dir="">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>